{% extends 'helios/base.html' %}

{% block content %}
    <div class="institution">


        <h1>{{ institution.instname }}</h1>
   <table class="table">

            <tr>
                <th>Town/City</th>
                <td>{{ institution.instcity }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ institution.instpostcode }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ institution.itype }}</td>
            </tr>
        </table>

 {% for licence in licences %}
        {{ licence.start_date }}yy
         {% endfor %}
    </div>
{% endblock %}