{% extends 'helios/base.html' %}

{% block content %}
    <div class="service">


        <h1>{{ service.servicename }}</h1>
   <table class="table">

            <tr>
                <th>Resource Name</th>
                <td>{{ service.resource_name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.my_athens_description }}</td>
            </tr>
            <tr>
                <th>Service URL</th>
                <td><a href="{{ service.my_athens_url }}">{{ service.my_athens_url }}</td>
            </tr>
        </table>


    </div>
{% endblock %}